body {
  color: black;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

/* .app {
  display: flex;
  flex-flow: row;
} */

.txn-table {
  display: flex;
  flex-flow: column nowrap;
  font-size: 0.8rem;
  margin: 0.5rem;
  line-height: 1.5;
  flex: 1 1 auto;
}
.txn-header {
  display: none;
  font-weight: 700;
  background-color: #f2f2f2;
}
.txn-row-container {
  /* position: absolute; */
  flex-direction: row;
}
.txn-row {
  width: 100%;
  display: flex;
  /* flex-flow: row nowrap; */
  /* display: inline-block; */
  float: left;
}

/* .txn-data {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid #d0d0d0;
} */
